<?xml version="1.0"?>
<launch>
	<arg name="andi_config_file"
		default="$(find dalu_robot)/config/andi.yaml" />

	<rosparam command="load" file="$(arg andi_config_file)" />

	<param name="dlos_version" value="3.0" />

	<include
		file="$(find dalu_base_controller)/launch/dalu_base_controller.launch" />

	<include
		file="$(find dalu_robot)/launch/include/wheel_odom.launch" />

	<param name="robot_description"
		textfile="$(find dalu_robot)/urdf/andi.urdf" />

	<node name="robot_state_publisher" pkg="robot_state_publisher"
		type="robot_state_publisher" />

	<!-- Run robot status -->
	<include
		file="$(find dalu_robot)/launch/include/robot_status.launch" />

</launch>
