<?xml version="1.0"?>
<launch>
	<arg name="use_odom_ekf" default="false" />

	<group unless="$(arg use_odom_ekf)">
		<node pkg="dalu_robot" type="dl_deltas_odometry"
			name="dl_deltas_odometry" respawn="true" output="screen">
			<param name="child_frame_id" value="base_link" />
			<param name="pub_tf" value="true" />
			<param name="odom_topic" value="odom" />
		</node>
	</group>

	<group if="$(arg use_odom_ekf)">
		<node pkg="dalu_robot" type="dl_deltas_odometry"
			name="dl_deltas_odometry" respawn="true" output="screen">
			<param name="child_frame_id" value="base_link" />
			<param name="pub_tf" value="false" />
			<param name="odom_topic" value="odom_raw" />
		</node>

		<node pkg="robot_pose_ekf" type="robot_pose_ekf"
			name="robot_pose_ekf">
			<param name="base_footprint_frame" value="base_link" />
			<param name="output_frame" value="odom" />
			<param name="freq" value="10.0" />
			<param name="sensor_timeout" value="1.0" />
			<param name="odom_used" value="true" />
			<param name="imu_used" value="true" />
			<param name="vo_used" value="false" />
			<param name="debug" value="false" />
			<param name="self_diagnose" value="false" />
			<remap from="imu_data" to="imu/data_raw" />
			<remap from="odom" to="odom_raw" />
		</node>

		<node name="relay_field" type="relay_field" pkg="topic_tools"
			args="/robot_pose_ekf/odom_combined /odom nav_msgs/Odometry
'{header:
    {seq: 0,
     stamp: {secs: 1, nsecs: 0},
     frame_id: m.header.frame_id},
child_frame_id: 'base_link',
pose:       
  {pose:
    {position: {x: m.pose.pose.position.x, y: m.pose.pose.position.y, z: 0.0},
    orientation: {x: m.pose.pose.orientation.x, y: m.pose.pose.orientation.y, z: m.pose.pose.orientation.z, w: m.pose.pose.orientation.w}},
  covariance: [0.1, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.1, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
    0.1, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.05, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.05, 0.0,
    0.0, 0.0, 0.0, 0.0, 0.0, 0.05]},                                                  
twist:                             
  {twist:
    {linear: {x: 0.0, y: 0.0, z: 0.0},
    angular: {x: 0.0, y: 0.0, z: 0.0}},
  covariance: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
    0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
    0.0, 0.0, 0.0, 0.0, 0.0, 0.0]}}'" />
	</group>
</launch>
